<div>
	<div data-dojo-type="dijit.layout.BorderContainer">
		<div data-dojo-type="dijit.layout.ContentPane" region="center" class="chatLog">
			<ul data-dojo-attach-point="chatLog">
			</ul>
		</div>
		<div data-dojo-type="dijit.layout.ContentPane" region="right" splitter="true" minSize="100" class="chatUsers">
			<ul data-dojo-attach-point="chatUsers">
			</ul>
		</div>
		<div data-dojo-type="dijit.layout.ContentPane" data-dojo-attach-point="chatActions" region="bottom" class="chatActions">
			<input type="text"  data-dojo-type="dijit.form.TextBox" data-dojo-attach-point="chatInput" trim="true">
			<button type="button" data-dojo-type="dijit.form.Button" data-dojo-attach-point="chatSubmit">Submit Chat</button>
			<button type="button" data-dojo-type="dijit.form.Button" data-dojo-attach-point="dmSubmit">Direct Message</button>
		</div>
	</div>
</div>
