<div>
	<div data-dojo-type="dijit.layout.BorderContainer">
		<div data-dojo-type="dijit.layout.ContentPane" data-dojo-attach-point="chatLog" region="center" class="chatLog">
		</div>
		<ul data-dojo-type="dijit.layout.ContentPane" data-dojo-attach-point="chatUsers" title="Users in chat" region="right" splitter="true" minSize="100" class="chatUsers">
		</ul>
		<div data-dojo-type="dijit.layout.ContentPane" data-dojo-attach-point="chatActions" region="bottom" class="chatActions">
			<input type="text"  data-dojo-type="dijit.form.TextBox" data-dojo-attach-point="chatInput" class="chatInput" trim="true">
			<button type="button" data-dojo-type="dijit.form.Button" class="chatSubmit" data-dojo-attach-event="onclick: submitChat">Submit Chat</button>
			<button type="button" data-dojo-type="dijit.form.Button" class="dmSubmit" data-dojo-attach-event="onclick: submitDM">Direct Message</button>
		</div>
	</div>
</div>
