<div>
	<div data-dojo-type="dijit.Dialog" data-dojo-attach-point="loginDialog" title="KickPunch Login">
		<label>User Name:</label>
		<input data-dojo-type="dijit.form.TextBox" type="text" name="userName" data-dojo-attach-point="userName" trim="true">
		<button data-dojo-type="dijit.form.Button" type="button" data-dojo-attach-point="submitLoginButton">Login</button>
		<ul data-dojo-attach-point="loginError"></ul>
	</div>

	<div data-dojo-type="dijit.Dialog" data-dojo-attach-point="joinChatDialog" title="Join Chat">
		<label>Chat Name:</label>
		<input data-dojo-type="dijit.form.TextBox" type="text" name="joinChatId" data-dojo-attach-point="joinChatId" trim="true">
		<button data-dojo-type="dijit.form.Button" type="button" data-dojo-attach-point="submitJoinChat">Join Chat</button>
		<ul data-dojo-attach-point="joinChatError"></ul>
	</div>

	<div data-dojo-type="dijit.layout.BorderContainer" data-dojo-attach-point="mainView" class="mainView">
		<div data-dojo-type="dijit.layout.ContentPane" class="mainViewTitle" region="top">
			<div class="mainViewActions">
				<button data-dojo-type="dijit.form.Button" type="button" data-dojo-attach-point="joinNewChat">Join Chat</button>
			</div>
			<span data-dojo-attach-point="userNameTitle">UserName</span> - <span data-dojo-attach-point="winCount">0</span> win / <span data-dojo-attach-point="lossCount">0</span> loss
		</div>
		<div data-dojo-type="dijit.layout.TabContainer" data-dojo-attach-point="userViews" region="center">
		</div>
	</div>

</div>
