.mainView {
	width: 700px;
	height: 500px;
	border: 2px solid;
	position: relative;
}

.mainView .dijitContainer {
	width: 100%;
	height: 100%;
}

.mainView .mainViewTitle {
	width: 100%;
	height: 40px;
}

.mainView .mainViewActions {
	width: 100px;
	float: right;
}

.fightContainer {
	display: none;
}

