.MainView {
	width: 700px;
	height: 500px;
	border: 2px solid;
	position: relative;
}

.MainView .dijitContainer {
	width: 100%;
	height: 100%;
}

.MainView .MainViewTitleBar {
	width: 100%;
	height: 60px;
}

.MainView .MainViewActions {
	width: 100px;
}

.fightContainer {
	display: none;
}

